.login-container {
    width: 400px; 
    height: 500px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #405dff;
    h2 {
      text-align: center;
      color: white;
      font-size: 2rem;
      margin-bottom: 10px;
      font-weight: bold;
    }
}

input{
  background-color: white; 
  color: black;              
  border: 1px solid #666;   
  border-radius: 10px;
  width: 100%;
  margin-top: 4px;
  font-size: 1.5rem;
}

button{
  margin: auto;
  width: 100%;
  background-color: white;
  padding: 5px;
  padding-inline: 20px;
  margin-top: 20px;
}